
<div class="modal-header">
  <h5 class="modal-title">Update Item</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="mb-3">
      <ejs-textbox formControlName="Name" placeholder="Tên vai trò" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
      <div *ngIf="form.get('Name')?.invalid && form.get('Name')?.touched" class="text-danger">
        Tên vai trò không bỏ trống.
      </div>
    </div>

    <div class="mb-3">
      <label for="Description" class="form-label">Description</label>
      <textarea id="description" formControlName="Description" class="form-control"></textarea>
      <div *ngIf="form.get('Description')?.invalid && form.get('Description')?.touched" class="text-danger">
        Description is required.
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
  <button class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Save</button>
</div>

